body,
html {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Merriweather', 'Helvetica Neue', Arial, sans-serif;
  margin-bottom: 50px;
  margin-top: 0;
}

hr {
  max-width: 50px;
  border-width: 3px;
  border-color: #415168;
}

hr.light {
  border-color: #fff;
}

a {
  color: #415168;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover {
  color: #415168;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Lato", sans-serif, "Helvetica Neue", Arial, sans-serif;
}

.bg-primary {
  background-color: #415168 !important;
}

.bg-gray {
  background-color: #788393 !important;
}

.text-faded {
  color: rgba(255, 255, 255, 0.7);
}

section {
  padding: 8rem 0;
}

.section-heading {
  margin-top: 0;
}

::-moz-selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: #212529;
  text-shadow: none;
}

img::selection {
  color: #fff;
  background: transparent;
}

img::-moz-selection {
  color: #fff;
  background: transparent;
}

footer {
  background-color: #415168;
  position: absolute;
  width: 100%;
  overflow: hidden;
  bottom: -100px;
  height: 60px;
}

p.copyright {
  color: #fff;
  text-shadow: none;
  color: #415168;
  font-size: 0.7em;
  padding: 20px 0 0 5px;
}

#mainNav {
  border-bottom: 1px solid rgba(33, 37, 41, 0.1);
  background-color: #fff;
  font-family: "Lato", sans-serif, "Helvetica Neue", Arial, sans-serif;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#mainNav .navbar-brand {
  font-weight: 900;
  color: #415168;
  font-size: 1.5rem;
  font-family: "Lato", sans-serif, "Helvetica Neue", Arial, sans-serif;
}

#mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
  color: #415168;
}

#mainNav .logo-end {
  color: #FC0707;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
  font-size: 1rem;
  font-weight: 900;
  text-transform: uppercase;
  color: #212529;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #FC0707;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active {
  color: #FC0707 !important;
  background-color: transparent;
}

#mainNav .navbar-nav > li.nav-item > a.nav-link.active:hover,
#mainNav .navbar-nav > li.nav-item > a.nav-link:focus.active:hover {
  background-color: transparent;
  color: #FC0707 !important;
}

@media (min-width: 992px) {
  #mainNav {
    border-color: transparent;
    background-color: transparent;
  }
  #mainNav .navbar-brand {
    color: rgba(65, 81, 104, 0.7);
  }
  #mainNav .navbar-brand:focus, #mainNav .navbar-brand:hover {
    color: #FC0707;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link {
    padding: 0.5rem 1rem;
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus {
    color: rgba(255, 255, 255, 0.7);
  }
  #mainNav .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #FC0707;
  }
  #mainNav.navbar-shrink {
    border-bottom: 1px solid rgba(33, 37, 41, 0.1);
    background-color: #fff;
  }
  #mainNav.navbar-shrink .navbar-brand {
    color: #415168;
  }
  #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
    color: #fc0606;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
    color: #212529;
  }
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
    color: #FC0707;
  }
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(10rem - 56px);
  background-image: url("../img/header4.jpg");
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: #fff;
}

header.masthead hr {
  margin-top: 30px;
  margin-bottom: 30px;
}

header.masthead h1 {
  color: #fff;
  font-size: 2rem;
}

header.masthead .logo {
  color: #415168;
}

header.masthead .logo-end {
  color: #FC0707;
}

header.masthead p {
  color: #fff;
  font-weight: 500;
}

@media (min-width: 768px) {
  header.masthead p {
    font-size: 1.15rem;
  }
}

@media (min-width: 992px) {
  header.masthead {
    height: 100vh;
    min-height: 650px;
    padding-top: 0;
    padding-bottom: 0;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
  header.masthead h1 {
    font-size: 4rem;
  }
}

.service-box {
  max-width: 400px;
  margin: 0 auto;
}

.services-subheading {
  margin-top: 30px;
}

.team-box {
  max-width: 400px;
  margin: 0 auto;
}

.service-box {
  max-width: 400px;
  margin: 0 auto;
}

#team h2 {
  color: #fff;
}

#team img {
  max-width: 100%;
  max-height: 100%;
}

#team .team-member, #team .team-member .team-img {
  position: relative;
}

#team .team-member {
  overflow: hidden;
}

#team .team-member, #team .team-member .team-img {
  position: relative;
}

#team .team-hover {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: 0;
  background-color: rgba(255, 255, 255, 0.9);
  opacity: 0;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

#team .team-member {
  overflow: hidden;
}

#team .team-member:hover .team-hover .desk {
  top: 50%;
}

#team .team-member:hover .team-hover, #team .team-member:hover .team-hover .desk {
  opacity: 1;
}

#team .team-hover .desk {
  position: absolute;
  top: 0%;
  width: 100%;
  opacity: 0;
  -webkit-transform: translateY(-55%);
  -ms-transform: translateY(-55%);
  transform: translateY(-55%);
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  padding: 0 20px;
}

#team .desk, #team .desk h4 {
  text-align: center;
}

#team .team-member:hover .team-hover, #team .team-member:hover .team-hover .desk {
  opacity: 1;
}

#team .desk, #team .desk h4, #team .team-hover {
  text-align: center;
}

#team .team-title {
  position: static;
  padding: 20px 0;
  display: inline-block;
  letter-spacing: 2px;
  width: 100%;
}

#team .team-title h5 {
  margin-bottom: 0px;
  display: block;
  text-transform: uppercase;
}

#team .team-title span {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #fff;
}

.text-primary {
  color: #415168 !important;
}

.btn {
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  border-radius: 300px;
  font-family: "Lato", sans-serif, "Helvetica Neue", Arial, sans-serif;
}

.btn-xl {
  padding: 1rem 2rem;
}

.btn-primary {
  background-color: #415168;
  border-color: #415168;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  color: #fff;
  background-color: #374558 !important;
}

.btn-primary:active, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(252, 7, 7, 0.5) !important;
}

.btn-secondary {
  background-color: #FC0707;
  border-color: #FC0707;
}

.btn-secondary:hover, .btn-secondary:focus, .btn-secondary:active {
  color: #fff;
  background-color: #e70303 !important;
}

.btn-secondary:active, .btn-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(102, 131, 107, 0.5) !important;
}
